@import "bootstrap";
@import "../vendor/summernote/summernote-lite.min.css";
@import "../vendor/notifier/notifier.css";

.tasks {
  margin-top: 2rem;
}

.spacer {
  -webkit-box-flex: 1 !important;
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}

.section {
  &__content {

  }
}

.modal-task-preview {

  .modal-dialog {
    max-width: 700px;
  }
}

.task-card {
  .card-header {
    display: flex;
    align-content: center;
    align-items: center;
  }
  &--completed{

  }
}

.btn-icon {
  padding:0;
  line-height: normal;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  &--success{
    color: #12b038;
    &:hover{
      color: #09982a;
    }
  }
  &--primary{
    color: #046ad6;
    &:hover{
      color: #046AD6;
    }
  }
  &--danger{
    color: #BF0318;
    &:hover{
      color: #9f0516;
    }
  }
}
